<% for (var i = 0; i < page.posts.length; i++) { %>
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="<%= page.posts[i].url %>"><%= page.posts[i].title %></a>
      </h2>
    </header>
    <div class="post-content">
      <%= page.posts[i].content %>
    </div>
  </article>
<% } %>

<%- partial('_partial/pagination', {page: page}) %>
